.g-4 {
    background-color: blueviolet;
    padding-top: 50px;
    margin: 0 50px;
}

.cardWrapper {
    border-radius: 14px;
    margin: 20px;
    width: 350px;
    height: 420px;
}

.cardImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    border-radius: 100%;
    width: 125px;
    height: 125px;
}

.cardTitle {
    text-align: center;
}

.cardText {
    text-align: center;
    margin: 40px 40px 40px 45px;
}

td {
    text-align: left;
}